1. Importing Libraries
2. Importing Dataframes
3. If-Statements with user-defined functions
4. If-Statements with loc()
5. If-Statements with For-Loops

1. Importing libraries

In [4]:
import pandas as pd
import numpy as np
import os
import pickle

2. Importing dataframes

In [7]:
path = r'C:/Users/Alejandra/Documents/CF/Data Immersion/Achievement 4/06022025_Instacart Basket Analysis'

In [9]:
#Loading pickle file
df_ord_prod_merged = pd.read_pickle(os.path.join(path, '02_Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [11]:
df_ord_prod_merged

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,days_prior_order_NaN,days_prior_order_clean,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,True,0.0,196,1,0,Soda,77,7,9.0,both
1,2539329,1,prior,1,2,8,NaN,True,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,prior,1,2,8,NaN,True,0.0,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,prior,1,2,8,NaN,True,0.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,prior,1,2,8,NaN,True,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660,206209,prior,13,1,12,7.0,False,7.0,14197,5,1,Tomato Paste,9,9,5.6,both
32404855,2977660,206209,prior,13,1,12,7.0,False,7.0,38730,6,0,Brownie Crunch High Protein Bar,3,19,5.9,both
32404856,2977660,206209,prior,13,1,12,7.0,False,7.0,31477,7,0,High Protein Bar Chunky Peanut Butter,3,19,4.2,both
32404857,2977660,206209,prior,13,1,12,7.0,False,7.0,6567,8,0,Chocolate Peanut Butter Protein Bar,3,19,4.9,both
32404858,2977660,206209,prior,13,1,12,7.0,False,7.0,22920,9,0,Roasted & Salted Shelled Pistachios,117,19,1.7,both

In [13]:
df = df_ord_prod_merged[:1000000] 
#Note: the colon before the number means everything from the beginning of the df until that number
#the colon after a number means everything from that number until the end.

In [15]:
df

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,days_prior_order_NaN,days_prior_order_clean,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,True,0.0,196,1,0,Soda,77,7,9.0,both
1,2539329,1,prior,1,2,8,NaN,True,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,prior,1,2,8,NaN,True,0.0,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,prior,1,2,8,NaN,True,0.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,prior,1,2,8,NaN,True,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2789027,6474,prior,2,3,8,30.0,False,30.0,3020,7,0,Broccoli & Apple Stage 2 Baby Food,92,18,12.9,both
999996,2789027,6474,prior,2,3,8,30.0,False,30.0,35823,8,0,Complete Foaming Antibacterial Hand Soap Varie...,127,11,7.3,both
999997,2789027,6474,prior,2,3,8,30.0,False,30.0,27681,9,0,Lower Sugar Instant Oatmeal Variety,130,14,3.5,both
999998,2789027,6474,prior,2,3,8,30.0,False,30.0,2091,10,0,Almond Nut & Rice Cracker Snacks,78,19,6.8,both
999999,2789027,6474,prior,2,3,8,30.0,False,30.0,44199,11,0,Toll House Mini Chocolate Chip Cookie Dough,105,13,2.9,both

3. If-Statements with user-defined functions

In [18]:
def price_label(row):

    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High range product'
    else: return 'Not enough data'

In [20]:
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\Alejandra\AppData\Local\Temp\ipykernel_2032\2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [21]:
df['price_range'].value_counts(dropna=False)

price_range
Mid-range product     673183
Low-range product     314392
High range product     12425
Name: count, dtype: int64

In [24]:
df['prices'].value_counts(dropna=False)

prices
12.3    18880
10.3    15787
4.0     13935
6.3     13555
1.3     12858
        ...
22.7        5
15.6        2
20.2        2
21.5        1
21.4        1
Name: count, Length: 239, dtype: int64

In [26]:
df['prices'].max()

99999.0

In [28]:
#This result can't be. Does not appear in the prices value counts.

In [30]:
df['price_range'='High range product'].value_counts(dropna=False)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3979374157.py, line 1)

In [32]:
#Investigating data inconsistences
df_high_value_products=df[df['price_range']=='High range product']

In [34]:
df_high_value_products

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,days_prior_order_NaN,days_prior_order_clean,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range
398,2086598,6,prior,1,5,18,NaN,True,0.0,38293,2,0,Ground Turkey Breast,35,12,19.6,both,High range product
401,298250,6,prior,2,4,16,6.0,False,6.0,38293,1,1,Ground Turkey Breast,35,12,19.6,both,High range product
436,2402008,7,prior,2,1,19,30.0,False,30.0,13198,14,0,85% Lean Ground Beef,122,12,23.2,both,High range product
465,121053,7,prior,3,0,18,30.0,False,30.0,13198,22,1,85% Lean Ground Beef,122,12,23.2,both,High range product
480,1695742,7,prior,4,2,10,9.0,False,9.0,13198,13,1,85% Lean Ground Beef,122,12,23.2,both,High range product
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999329,2442470,6468,prior,9,1,7,30.0,False,30.0,23805,5,1,Peppered Turkey Bacon,106,12,24.6,both,High range product
999332,2442470,6468,prior,9,1,7,30.0,False,30.0,9020,8,1,Boneless Skinless Chicken Thighs,35,12,25.0,both,High range product
999388,14321,6468,prior,13,5,8,13.0,False,13.0,9020,1,1,Boneless Skinless Chicken Thighs,35,12,25.0,both,High range product
999394,14321,6468,prior,13,5,8,13.0,False,13.0,38293,7,0,Ground Turkey Breast,35,12,19.6,both,High range product
999880,2720655,6472,prior,17,2,22,3.0,False,3.0,14011,9,0,Oven Roasted Chicken Breast,49,12,20.8,both,High range product

In [36]:
df_high_value_products['prices'].max()

99999.0

In [38]:
#Creating subset for discrepant rows
discrepant_value = 99999.0
discrepant_row = df_high_value_products[df_high_value_products['prices'] == 99999.0]

In [40]:
discrepant_row

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,days_prior_order_NaN,days_prior_order_clean,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range
128911,183964,873,prior,3,0,10,7.0,False,7.0,33664,11,0,2 % Reduced Fat Milk,84,16,99999.0,both,High range product
128924,1851256,873,prior,4,6,12,13.0,False,13.0,33664,8,1,2 % Reduced Fat Milk,84,16,99999.0,both,High range product
284218,1915696,1893,prior,1,5,17,NaN,True,0.0,33664,10,0,2 % Reduced Fat Milk,84,16,99999.0,both,High range product
284229,2763293,1893,prior,2,4,16,13.0,False,13.0,33664,6,1,2 % Reduced Fat Milk,84,16,99999.0,both,High range product
284252,2564805,1893,prior,4,1,17,30.0,False,30.0,33664,3,1,2 % Reduced Fat Milk,84,16,99999.0,both,High range product
499076,949012,3339,prior,1,1,14,NaN,True,0.0,33664,8,0,2 % Reduced Fat Milk,84,16,99999.0,both,High range product
499119,420057,3339,prior,2,0,11,13.0,False,13.0,33664,29,1,2 % Reduced Fat Milk,84,16,99999.0,both,High range product
499141,1511997,3339,prior,3,1,18,8.0,False,8.0,33664,14,1,2 % Reduced Fat Milk,84,16,99999.0,both,High range product
499158,1153448,3339,prior,4,4,16,10.0,False,10.0,33664,1,1,2 % Reduced Fat Milk,84,16,99999.0,both,High range product
499180,2669259,3339,prior,5,4,14,21.0,False,21.0,33664,6,1,2 % Reduced Fat Milk,84,16,99999.0,both,High range product
527458,965345,3531,prior,27,2,19,8.0,False,8.0,33664,2,0,2 % Reduced Fat Milk,84,16,99999.0,both,High range product
767471,2291230,5034,prior,6,1,17,30.0,False,30.0,33664,3,0,2 % Reduced Fat Milk,84,16,99999.0,both,High range product
767485,2324832,5034,prior,7,6,11,30.0,False,30.0,33664,9,1,2 % Reduced Fat Milk,84,16,99999.0,both,High range product
953246,323856,6175,prior,37,2,9,6.0,False,6.0,33664,6,0,2 % Reduced Fat Milk,84,16,99999.0,both,High range product
960509,842052,6222,prior,10,1,18,17.0,False,17.0,33664,2,0,2 % Reduced Fat Milk,84,16,99999.0,both,High range product

In [42]:
discrepant_row.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 128911 to 960509
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_id                15 non-null     int64
 1   user_id                 15 non-null     int64
 2   eval_set                15 non-null     object
 3   order_number            15 non-null     int64
 4   order_day_of_week       15 non-null     int64
 5   order_hour_of_day       15 non-null     int64
 6   days_since_prior_order  13 non-null     float64
 7   days_prior_order_NaN    15 non-null     bool
 8   days_prior_order_clean  15 non-null     float64
 9   product_id              15 non-null     int64
 10  add_to_cart_order       15 non-null     int64
 11  reordered               15 non-null     int64
 12  product_name            15 non-null     object
 13  aisle_id                15 non-null     int64
 14  department_id           15 non-null     int64
 15  prices                  15 non-null     float64
 16  _merge                  15 non-null     category
 17  price_range             15 non-null     object
dtypes: bool(1), category(1), float64(3), int64(10), object(3)
memory usage: 2.0+ KB

In [44]:
df_high_value_products['prices'].describe()

count    12425.000000
mean       311.294897
std       3809.742521
min         15.100000
25%         18.600000
50%         20.700000
75%         23.100000
max      99999.000000
Name: prices, dtype: float64

In [46]:
#Importing source df 'products', 'orders_products_prior' for further investigation: Is it wrangling or source error?
df_prods = pd.read_csv(os.path.join(path, '02_Data', 'Prepared Data', 'products_clean.csv'), index_col = False)

In [48]:
df_prods

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...,...
49667,49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49690,49686,Artisan Baguette,112,3,7.8
49670,49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [50]:
df_prods['prices'].describe()

count    49672.000000
mean         9.993282
std        453.615536
min          1.000000
25%          4.100000
50%          7.100000
75%         11.100000
max      99999.000000
Name: prices, dtype: float64

In [52]:
discrepant_product_value = 99999.0
discrepant_product = df_prods[df_prods['prices'] == discrepant_product_value]

In [54]:
discrepant_product

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
33649,33666,33664,2 % Reduced Fat Milk,84,16,99999.0

In [56]:
#Conclusion: The inconsistency compared to the results in the reading portion of this exercise is due to the source dataframe.

In [58]:
df_prods['prices'].value_counts(dropna=False)

prices
2.5        470
5.3        458
6.2        451
2.6        447
5.4        444
          ...
15.6         1
21.0         1
99999.0      1
14900.0      1
18.3         1
Name: count, Length: 242, dtype: int64

In [60]:
#There are more than a single inconsistency. According to the results on the reading portion of the exercise, we have 5 inconsisten products. This translates to a df (the original 1 million subset) with actual high range products.

4. If-Statements with loc()

In [63]:
df.loc[df['prices']>15, 'price_range_loc'] = 'High-range product'

C:\Users\Alejandra\AppData\Local\Temp\ipykernel_2032\1812425363.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices']>15, 'price_range_loc'] = 'High-range product'

In [65]:
df.loc[(df['prices'] <=15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [67]:
df.loc[df['prices'] <=5, 'price_range_loc'] = 'Low-range product'

5. If-Statements with For-Loops

In [70]:
df_ord_prod_merged

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,days_prior_order_NaN,days_prior_order_clean,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,True,0.0,196,1,0,Soda,77,7,9.0,both
1,2539329,1,prior,1,2,8,NaN,True,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,prior,1,2,8,NaN,True,0.0,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,prior,1,2,8,NaN,True,0.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,prior,1,2,8,NaN,True,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660,206209,prior,13,1,12,7.0,False,7.0,14197,5,1,Tomato Paste,9,9,5.6,both
32404855,2977660,206209,prior,13,1,12,7.0,False,7.0,38730,6,0,Brownie Crunch High Protein Bar,3,19,5.9,both
32404856,2977660,206209,prior,13,1,12,7.0,False,7.0,31477,7,0,High Protein Bar Chunky Peanut Butter,3,19,4.2,both
32404857,2977660,206209,prior,13,1,12,7.0,False,7.0,6567,8,0,Chocolate Peanut Butter Protein Bar,3,19,4.9,both
32404858,2977660,206209,prior,13,1,12,7.0,False,7.0,22920,9,0,Roasted & Salted Shelled Pistachios,117,19,1.7,both

In [72]:
df_ord_prod_merged['order_day_of_week'].value_counts(dropna=False)

order_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [74]:
result = []

for value in df_ord_prod_merged['order_day_of_week']:
    if value == 0:
        result.append('Busiest day')
    elif value == 4: 
        result.append('Least busy')
    else: 
        result.append('Regularly busy')

In [75]:
result

['Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 ...]

In [76]:
df_ord_prod_merged['busiest_day']=result

In [80]:
df_ord_prod_merged['busiest_day'].value_counts(dropna=False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

##Exercise

In [103]:
#Adding 'price_range' to df_ord_prod_merged

In [61]:
df_ord_prod_merged

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,days_prior_order_NaN,days_prior_order_clean,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day
0,2539329,1,prior,1,2,8,NaN,True,0.0,196,1,0,Soda,77,7,9.0,both,Regularly busy
1,2539329,1,prior,1,2,8,NaN,True,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy
2,2539329,1,prior,1,2,8,NaN,True,0.0,12427,3,0,Original Beef Jerky,23,19,4.4,both,Regularly busy
3,2539329,1,prior,1,2,8,NaN,True,0.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy
4,2539329,1,prior,1,2,8,NaN,True,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660,206209,prior,13,1,12,7.0,False,7.0,14197,5,1,Tomato Paste,9,9,5.6,both,Regularly busy
32404855,2977660,206209,prior,13,1,12,7.0,False,7.0,38730,6,0,Brownie Crunch High Protein Bar,3,19,5.9,both,Regularly busy
32404856,2977660,206209,prior,13,1,12,7.0,False,7.0,31477,7,0,High Protein Bar Chunky Peanut Butter,3,19,4.2,both,Regularly busy
32404857,2977660,206209,prior,13,1,12,7.0,False,7.0,6567,8,0,Chocolate Peanut Butter Protein Bar,3,19,4.9,both,Regularly busy
32404858,2977660,206209,prior,13,1,12,7.0,False,7.0,22920,9,0,Roasted & Salted Shelled Pistachios,117,19,1.7,both,Regularly busy

In [83]:
df

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,days_prior_order_NaN,days_prior_order_clean,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,price_range_loc
0,2539329,1,prior,1,2,8,NaN,True,0.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Mid-range product
1,2539329,1,prior,1,2,8,NaN,True,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Mid-range product
2,2539329,1,prior,1,2,8,NaN,True,0.0,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Low-range product
3,2539329,1,prior,1,2,8,NaN,True,0.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Low-range product
4,2539329,1,prior,1,2,8,NaN,True,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Low-range product
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2789027,6474,prior,2,3,8,30.0,False,30.0,3020,7,0,Broccoli & Apple Stage 2 Baby Food,92,18,12.9,both,Mid-range product,Mid-range product
999996,2789027,6474,prior,2,3,8,30.0,False,30.0,35823,8,0,Complete Foaming Antibacterial Hand Soap Varie...,127,11,7.3,both,Mid-range product,Mid-range product
999997,2789027,6474,prior,2,3,8,30.0,False,30.0,27681,9,0,Lower Sugar Instant Oatmeal Variety,130,14,3.5,both,Low-range product,Low-range product
999998,2789027,6474,prior,2,3,8,30.0,False,30.0,2091,10,0,Almond Nut & Rice Cracker Snacks,78,19,6.8,both,Mid-range product,Mid-range product
999999,2789027,6474,prior,2,3,8,30.0,False,30.0,44199,11,0,Toll House Mini Chocolate Chip Cookie Dough,105,13,2.9,both,Low-range product,Low-range product

In [87]:
df['order_day_of_week'].value_counts(dropna=False)

order_day_of_week
0    189676
1    169888
6    139752
5    133956
2    130531
3    118328
4    117869
Name: count, dtype: int64

In [93]:
result = []

for value in df_ord_prod_merged['order_day_of_week']:
    if value == 0:
        result.append('Busiest day')
    elif value == 4: 
        result.append('Least busy')
    else: 
        result.append('Regularly busy')

In [95]:
df_ord_prod_merged['price_range'] = df.apply(price_label, axis=1)

In [97]:
df_ord_prod_merged['price_range'].value_counts(dropna=False)

price_range
NaN                   31404859
Mid-range product       673183
Low-range product       314392
High range product       12425
Name: count, dtype: int64

In [99]:
df_ord_prod_merged['prices'].value_counts(dropna=False)

prices
12.3    624261
10.3    510496
4.0     447272
6.3     438467
1.3     425691
         ...
20.2       123
22.7        99
21.5        85
18.3        11
21.0         8
Name: count, Length: 242, dtype: int64

In [101]:
df_ord_prod_merged

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,days_prior_order_NaN,days_prior_order_clean,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,price_range
0,2539329,1,prior,1,2,8,NaN,True,0.0,196,1,0,Soda,77,7,9.0,both,Regularly busy,Mid-range product
1,2539329,1,prior,1,2,8,NaN,True,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,Mid-range product
2,2539329,1,prior,1,2,8,NaN,True,0.0,12427,3,0,Original Beef Jerky,23,19,4.4,both,Regularly busy,Low-range product
3,2539329,1,prior,1,2,8,NaN,True,0.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Low-range product
4,2539329,1,prior,1,2,8,NaN,True,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,Low-range product
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660,206209,prior,13,1,12,7.0,False,7.0,14197,5,1,Tomato Paste,9,9,5.6,both,Regularly busy,NaN
32404855,2977660,206209,prior,13,1,12,7.0,False,7.0,38730,6,0,Brownie Crunch High Protein Bar,3,19,5.9,both,Regularly busy,NaN
32404856,2977660,206209,prior,13,1,12,7.0,False,7.0,31477,7,0,High Protein Bar Chunky Peanut Butter,3,19,4.2,both,Regularly busy,NaN
32404857,2977660,206209,prior,13,1,12,7.0,False,7.0,6567,8,0,Chocolate Peanut Butter Protein Bar,3,19,4.9,both,Regularly busy,NaN
32404858,2977660,206209,prior,13,1,12,7.0,False,7.0,22920,9,0,Roasted & Salted Shelled Pistachios,117,19,1.7,both,Regularly busy,NaN

In [119]:
#result_2 is the variable where busiest days and slowest days are the 2 busiest and slowest respectively

result_2 = []

for value in df_ord_prod_merged['order_day_of_week']:
    if value in [0, 1]:
        result_2.append('Busiest days')
    elif value in [3, 4]: 
        result_2.append('Slowest days')
    else: 
        result_2.append('Regular days')

In [121]:
df_ord_prod_merged['busiest_days']=result_2

In [123]:
df_ord_prod_merged['busiest_days'].value_counts(dropna=False)

busiest_days
Regular days    12916111
Busiest days    11864412
Slowest days     7624336
Name: count, dtype: int64

In [133]:
df_ord_prod_merged

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,days_prior_order_NaN,days_prior_order_clean,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,price_range,busiest_days
0,2539329,1,prior,1,2,8,NaN,True,0.0,196,1,0,Soda,77,7,9.0,both,Regularly busy,Mid-range product,Regular days
1,2539329,1,prior,1,2,8,NaN,True,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,Mid-range product,Regular days
2,2539329,1,prior,1,2,8,NaN,True,0.0,12427,3,0,Original Beef Jerky,23,19,4.4,both,Regularly busy,Low-range product,Regular days
3,2539329,1,prior,1,2,8,NaN,True,0.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Low-range product,Regular days
4,2539329,1,prior,1,2,8,NaN,True,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,Low-range product,Regular days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660,206209,prior,13,1,12,7.0,False,7.0,14197,5,1,Tomato Paste,9,9,5.6,both,Regularly busy,NaN,Busiest days
32404855,2977660,206209,prior,13,1,12,7.0,False,7.0,38730,6,0,Brownie Crunch High Protein Bar,3,19,5.9,both,Regularly busy,NaN,Busiest days
32404856,2977660,206209,prior,13,1,12,7.0,False,7.0,31477,7,0,High Protein Bar Chunky Peanut Butter,3,19,4.2,both,Regularly busy,NaN,Busiest days
32404857,2977660,206209,prior,13,1,12,7.0,False,7.0,6567,8,0,Chocolate Peanut Butter Protein Bar,3,19,4.9,both,Regularly busy,NaN,Busiest days
32404858,2977660,206209,prior,13,1,12,7.0,False,7.0,22920,9,0,Roasted & Salted Shelled Pistachios,117,19,1.7,both,Regularly busy,NaN,Busiest days

In [135]:
df_ord_prod_merged['order_day_of_week'].value_counts(dropna=False)

order_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [147]:
#Verifying operation
6204182+5660230

11864412

In [149]:
3840534+3783802

7624336

In [151]:
df_ord_prod_merged['busiest_days'].value_counts(dropna=False)

busiest_days
Regular days    12916111
Busiest days    11864412
Slowest days     7624336
Name: count, dtype: int64

In [153]:
df_ord_prod_merged['order_hour_of_day'].value_counts(dropna=False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [155]:
df_ord_prod_merged['order_hour_of_day'].describe()

count    3.240486e+07
mean     1.342515e+01
std      4.246380e+00
min      0.000000e+00
25%      1.000000e+01
50%      1.300000e+01
75%      1.600000e+01
max      2.300000e+01
Name: order_hour_of_day, dtype: float64

In [182]:
#result_3 is to assign the column 'busiest_period_of_day'
result_3 = []

for value in df_ord_prod_merged['order_hour_of_day']:
    if 10<= value <18:
        result_3.append('Most orders')
    elif 0<= value <6: 
        result_3.append('Fewest orders')
    else: 
        result_3.append('Average orders')

print(len(result_3)) #Check length after loop

32404859

In [166]:
df_ord_prod_merged['busiest_period_of_day'] = result_3

ValueError: Length of values (0) does not match length of index (32404859)

In [168]:
#Troubleshooting: checking length
print(len(result_3))
print(len(df_ord_prod_merged))

0
32404859

In [179]:
print(len(result_3)) #after adding checking count after loop on line 170

32404859

In [174]:
#Creating column
df_ord_prod_merged['busiest_period_of_day'] = result_3

In [184]:
df_ord_prod_merged['busiest_period_of_day'].value_counts(dropna=False)

busiest_period_of_day
Most orders       20751522
Regularly busy    11057009
Least busy          596328
Name: count, dtype: int64

In [186]:
df_ord_prod_merged

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,days_prior_order_NaN,days_prior_order_clean,product_id,...,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,price_range,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,True,0.0,196,...,0,Soda,77,7,9.0,both,Regularly busy,Mid-range product,Regular days,Regularly busy
1,2539329,1,prior,1,2,8,NaN,True,0.0,14084,...,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,Mid-range product,Regular days,Regularly busy
2,2539329,1,prior,1,2,8,NaN,True,0.0,12427,...,0,Original Beef Jerky,23,19,4.4,both,Regularly busy,Low-range product,Regular days,Regularly busy
3,2539329,1,prior,1,2,8,NaN,True,0.0,26088,...,0,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Low-range product,Regular days,Regularly busy
4,2539329,1,prior,1,2,8,NaN,True,0.0,26405,...,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,Low-range product,Regular days,Regularly busy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660,206209,prior,13,1,12,7.0,False,7.0,14197,...,1,Tomato Paste,9,9,5.6,both,Regularly busy,NaN,Busiest days,Most orders
32404855,2977660,206209,prior,13,1,12,7.0,False,7.0,38730,...,0,Brownie Crunch High Protein Bar,3,19,5.9,both,Regularly busy,NaN,Busiest days,Most orders
32404856,2977660,206209,prior,13,1,12,7.0,False,7.0,31477,...,0,High Protein Bar Chunky Peanut Butter,3,19,4.2,both,Regularly busy,NaN,Busiest days,Most orders
32404857,2977660,206209,prior,13,1,12,7.0,False,7.0,6567,...,0,Chocolate Peanut Butter Protein Bar,3,19,4.9,both,Regularly busy,NaN,Busiest days,Most orders
32404858,2977660,206209,prior,13,1,12,7.0,False,7.0,22920,...,0,Roasted & Salted Shelled Pistachios,117,19,1.7,both,Regularly busy,NaN,Busiest days,Most orders

In [190]:
#Export data to pkl
df_ord_prod_merged.to_pickle(os.path.join(path, '02_Data','Prepared Data', 'orders_products_merged_4.7.pkl'))